#home-page-text {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 100%;
}

h2 {
  font-size: 100%;
  display: flex;
  justify-content: center;
}



#submit-button {
  cursor: pointer;
}

#support-box {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-content: center;
  align-items: center;
  width: 100%;
}
#message {
  width: 80%;
  max-width: 600px;
}

#submit-button {
  width: 80px;
  height: 50px;
  margin: 30px;
}



